---
import type { CollectionEntry, ContentCollectionKey } from 'astro:content';

import { adjustTypography, getThumb } from '@utils';

export interface Props {
    item: CollectionEntry<ContentCollectionKey>;
}

const { item } = Astro.props;

const thumb = getThumb(item);
---

<style lang="scss">
    .article {
        display: flex;
        flex: 0 1 0;
        flex-direction: column;
        padding: 1.5rem 1rem;
    }

    .thumb {
        display: block;
        margin-bottom: 1rem;
        background-color: var(--color-thumb-placeholder);
        box-shadow:
            -2px 2px 2px rgba(0, 0, 0, .075),
            -16px 16px 16px rgba(0, 0, 0, .075);
    }

    .title,
    .author,
    .imprint {
        margin: 0;
        font-size: .75rem;
        font-weight: 700;
    }

    .title {
        text-wrap: balance;
    }

    .author,
    .imprint {
        color: var(--color-text-muted);
    }

    .status {
        display: none;
        /*display: flex;*/
        flex-flow: wrap;
        margin: .125rem -.125rem 0;
    }

    .status-item {
        padding: .1rem .5rem;
        margin: .125rem;
        font-size: .625rem;
        color: var(--color-text-muted);
        border: 1px solid var(--color-text-muted);
        border-radius: 10rem;
    }

    .status-item--checked {
        background-color: var(--color-accent);
    }
</style>

<article class="article">
    <img class="thumb" src={thumb.image.path} width={thumb.image.size.width} height={thumb.image.size.height} loading="lazy" alt="">
    <div class="data">
        <h3 class="title">{adjustTypography(thumb.title)}</h3>
        {item.data.author ? (
            <div class="author">{adjustTypography(item.data.author)}</div>
        ) : null}
        <div class="imprint">{item.data.issue ? item.data.publisher : `${item.data.publisher}, ${item.data.year}`}</div>
        {thumb.status ? (
            <div class="status">
                {thumb.status.map((status: string) => (
                    <div class="status-item">{status}</div>
                ))}
            </div>
        ) : null}
    </div>
</article>
