---
import type { CollectionEntry } from 'astro:content';

import { adjustTypography, getThumb } from '@utils';

export interface Props {
    item: CollectionEntry<any>;
}

const { item } = Astro.props;

const thumb = getThumb(item);
---

<article class="article articles__item">
    <img class="article__thumb" src={thumb.image.path} width={thumb.image.size.width} height={thumb.image.size.height} loading="lazy" alt="">
    <h2 class="article__title">{adjustTypography(thumb.title)}</h2>
    {item.data.author ? (
        <div class="article__author">{adjustTypography(item.data.author)}</div>
    ) : null}
    <div class="article__imprint">{item.data.issue ? item.data.publisher : `${item.data.publisher}, ${item.data.year}`}</div>
    {thumb.status ? (
        <div class="article__status">
            {thumb.status.map((status) => (
                <div class="article__status-item">{status}</div>
            ))}
        </div>
    ) : null}
</article>
