---
import { config } from "@/config";
import { collections } from "@/utils/collections";

const { language } = config;
const { title, description } = Astro.props;

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

export interface Props {
  title: string;
  description: string;
}

const items = [
  ...collections.aids.all,
  ...collections.books.all,
  ...collections.magazines.all,
  ...collections.filmstrips.all,
];
---

<style lang="scss" is:global>
    :root {
        --color-accent: #e24c4c;
        --color-background: #f8f6f1;
        --color-thumb-placeholder: rgba(0, 0, 0, .05);
        --color-text: rgb(0, 0, 0);
        --color-text-muted: rgba(0, 0, 0, .5);
        --color-divider: var(--color-text);
        --width-divider: 1px;
        --width-divider-lg: 6px;
        --space-body-x: 1.5rem;
        --space-body-y: 1.5rem;
        --space-header-gap: .25rem;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        padding: var(--space-body-x);
        margin: 0;
        font-family: sans-serif;
        font-size: .875rem;
        line-height: 1.2;
        color: var(--color-text);
        background-color: var(--color-background);
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: var(--color-accent);
        }
    }

    [id] {
        scroll-margin-top: 1rem;
    }
</style>

<style lang="scss">
    .layout {
        display: flex;
        flex-direction: column;
        max-width: 1600px;
        min-height: calc(100vh - var(--space-body-x) * 2);
        margin: 0 auto;
    }

    main {
        flex: 1 0 auto;
    }
</style>

<!doctype html>
<html lang={language}>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator}/>

        <title>{title}</title>
        <meta name="description" content={description}/>

        <link rel="icon" href="/assets/img/favicon/favicon.ico" sizes="any">
        <link rel="icon" href="/assets/img/favicon/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="layout">
            <Header title={title} items={items} />
            <main>
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
